<div class="post">
    <div class="post-header">
        <img src="/avatar/{{username}}" alt="{{username}}'s avatar" class="avatar">
        <h2>{{title}}</h2>
        <span class="post-author">by {{username}}</span>
    </div>
    <br>
    <div class="post-content">
        <p>{{content}}</p>
    </div>
    <div class="post-footer">
        <span class="post-timestamp">{{timestamp}}</span>
        <div class="button-container">
            {{!-- Show like button for all posts --}}
            <form action="/like/{{id}}" method="POST">
                <button type="submit" class="like-button">Likes {{likes}}</button>
            </form>

            {{!-- Show delete button if the post belongs to the logged-in user --}}
            {{#ifUserMatch user.username username}}
            <form action="/delete/{{id}}" method="POST">
                <button type="submit" class="delete-button">Delete</button>
            </form>
            {{/ifUserMatch}}
        </div>
    </div>
</div>
