<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{#if showNavBar}}
    <header>
        <div class="navbar">
            <div class="navbar-left">
                <img src="/images/blogit.png" alt="App Logo" class="logo">
                <span class="app-name" style="font-family:'Lucida Grande';"><a href="/" >BLOG IT</a></span>
            </div>
            <div class="navbar-right">
                <a href="/">Home</a>
                {{#if user}}
                <span class="username">{{user.selectedUsername}}</span>
                <a href="/profile?username={{loggedInUser.username}}">Profile</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/loginRegister">Login/Register</a>
                {{/if}}
            </div>
        </div>
    </header>
    {{/if}}
    {{{body}}}
    <footer class="copyright">
        <span style="font-family:'Lucida Grande';">&copy; 2024 Blog It. All rights reserved.</span>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>