<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{#if showNavBar}}
    <header>
        <div class="navbar">
            <div class="navbar-left">
                <img src="/images/blogit.png" alt="App Logo" class="logo">
                <span class="app-name" style="font-family:'Lucida Grande';">BLOG IT</span>
            </div>
            <div class="navbar-right">
                <a href="/">Home</a>
                {{#if user}}
                <span class="username">{{user.firstName}} {{user.lastName}}</span>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                {{/if}}
            </div>
        </div>
    </header>
    {{/if}}
    {{{body}}}
</body>

</html>